[Desktop Entry]
Name=ARMGDDN Browser
Comment=ARMGDDN Games browser for rclone remotes
Exec=rclone-browser
Icon=rclone-browser
Terminal=false
Type=Application
Categories=Network;
StartupNotify=false
